* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;

}

::placeholder {
    padding-left: 25px;
}


#container {
    background: black;
    width: 1200px;
    margin: auto;
    height: 700px;
    display: flex;
}

#container #navv {
    width: 50%;
    height: 90%;
    background: lightgray;
    display: flex;
    margin: auto;
}

#container #navv nav {
    width: 93%;
    height: 94%;
    border: 8px solid #FFFFFF;
    border-radius: 5px;
    background: #FFFFFF;
    margin: auto;
}

nav #contact {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

nav #inp {
    margin-top: 10%;
}

#inp #name {
    border-radius: 10px;
    background: lightgray;
    width: 90%;
    height: 80px;
    margin: auto;
    box-sizing: border-box;
}

#inp #name #namel {

    margin-left: 25px;
    position: relative;
    top: 15px;


}

#inp #name #namei {
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50%;
    background: lightgray;
    border: none;
    margin-top: 16px;
}

#inp #emailandphone {
    margin-top: 5%;
}

#emailandphone #email {
    display: block;
    float: left;
    clear: right;
    width: 40%;
    height: 50px;
    margin-left: 25px;
    background: lightgray;
    border-radius: 10px;
    box-sizing: border-box;
}

#emailandphone #email #emaill {
    display: block;
    margin-left: 30px;
    margin-top: 15px;
    box-sizing: border-box;
}

#emailandphone #email #emaili {
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 70%;
    background: lightgray;
    border: none;

}

#emailandphone #phone {
    display: block;
    float: right;
    width: 40%;
    height: 50px;
    margin-right: 28px;
    background: lightgray;
    border-radius: 10px;
    box-sizing: border-box;
}

#emailandphone #phone #phonel {
    display: block;
    margin-left: 30px;
    margin-top: 15px;
    box-sizing: border-box;
}

#emailandphone #phone #phonei {
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 70%;
    background: lightgray;
    border: none;
}

nav #needed {
    position: relative;
    display: block;
    margin-top: 23%;
    margin-left: 5%;
    background: lightgray;
    height: 60px;
    width: 90%;
    border-radius: 10px;

}

nav #needed #neededlabel {
    display: block;
    margin-left: 30px;
    position: absolute;
    top: 5px;
}

nav #needed #need {
    position: absolute;
    bottom: 10px;
    left: 28px;
    width: 93%;
    background: lightgray;
    border: none;

}

nav #messaged {
    position: relative;
    display: block;
    margin-top: 5%;
    margin-left: 5%;
    background: white;
    height: 120px;
    width: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 3px solid lightgray;

}

nav #messaged #messagelabel {
    position: relative;
    left: 30px;
    top: 5px;
}

nav #messaged #message {
    height: 65%;
    width: 99%;
    margin-top: 20px;
    border: none;
}

nav #submit input {
    background: #333333;
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 20px;
    color: white;
}
